
/* our manu page css */
.our-menu {
    width: auto;
    height: 67px;
    font-family: 'Allura', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 67px; /* 120% of 56px is 67.2px, rounded to 67px */
    display: flex;
    align-items: center;
    color: #0C6967;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  

.uikit{
    
display: flex;
list-style-type:none;
text-decoration: none;
color: #0C6967;
font-weight: 600;
}
.title-momos{

font-family: 'Chela One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 120%;
/* identical to box height, or 48px */
display: flex;
align-items: center;

/* Primary/primary-6 */
color: #D95103;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.buffmomonew{
padding: 8px 16px;
gap: 8px;

width: 63px;
height: 33px;

/* Primary/primary-6 */
background: #D95103;
border-radius: 16px 0px;
z-index: 2;


}


.popular{
  /* Status */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;
width: 84px;
height: 33px;
/* Error/E300 */
background: #C71720;
border-radius: 16px 0px;
}

.recomanded{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 133px;
height: 33px;
background: #0072E3;
border-radius: 16px 0px;

}
.pride{
  /* WE PRIDE OURSELF ON */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: 0.12em;

/* Neutral/N200 */
color: #6B788E;

}


.group3{
  /* pngwing 1 */

background: url(pngwing.png);

}


.customer{
  font-family: 'Proxima Nova';
 font-style: normal;
 font-weight: 700;
 line-height: 120%;
 color: #D95103;
}

.btnFont{
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: center;
  
}
.button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 40px;

}
.paragraph{
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;

}
.buff{

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 48px;
gap: 8px;

width: 133px;
height: 56px;

/* Off Color/Off-Black */
border: 2px solid #101828;
border-radius: 100px;

}
.smallArrowLeft{
  box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;

width: 36px;
height: 36px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 100px;
}
.arrowLeft{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;
gap: 8px;

width: 48px;
height: 48px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 100px;

}
.videoImage{
width: 100%;
height: 100%;

}
.bgVideoImage {
  position: relative;
  
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/aboutImg/Shadow.png'), url('../images/aboutImg/Image.png'); /* Add the background image and overlay */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bgVideoImage::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%; /* Adjust the height of the gradient overlay */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.9)); /* Adjust opacity to make the bottom side darker */
}



@font-face {
  font-family: 'Proxima Nova';
  src: url('/path-to-font-files/ProximaNova-Regular.woff2') format('woff2'),
       url('/path-to-font-files/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/path-to-font-files/ProximaNova-Bold.woff2') format('woff2'),
       url('/path-to-font-files/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}



.custom-shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}



/* Hide Leaflet attribution and logo */
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-attribution.leaflet-control {
    display: none !important;
}



/* Get in touch from css  */

.custom-phone-input {
  height: 50px; /* Match height of other input fields */
  border: 2px solid #cbd5e0; /* Match border of other input fields */
  border-radius: 0.5rem; /* Match border radius of other input fields */
  padding: 0.75rem; /* Match padding of other input fields */
}

.custom-phone-input {
  width: calc(112% - 58px) !important; /* Adjust width to account for button width */
}

.custom-phone-button {
  height: 36px;/* Adjust button width if necessary */
  background-color: white;
  border: 2px solid #cbd5e0;
  border-radius: 0.5rem 0 0 0.5rem;
}

