.our-menu {
    width: 221px;
    height: 67px;
    font-family: 'Allura', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 67px; /* 120% of 56px is 67.2px, rounded to 67px */
    display: flex;
    align-items: center;
    color: #0C6967;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  

.uikit{
    
display: flex;
list-style-type:none;
text-decoration: none;
color: #0C6967;
font-weight: 600;
}
.title-momos{

font-family: 'Chela One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 120%;
/* identical to box height, or 48px */
display: flex;
align-items: center;

/* Primary/primary-6 */
color: #D95103;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.buffmomonew{
padding: 8px 16px;
gap: 8px;

width: 63px;
height: 33px;

/* Primary/primary-6 */
background: #D95103;
border-radius: 16px 0px;
z-index: 2;


}
.popular{
  /* Status */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;
width: 84px;
height: 33px;
/* Error/E300 */
background: #C71720;
border-radius: 16px 0px;
}

.recomanded{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 133px;
height: 33px;
background: #0072E3;
border-radius: 16px 0px;

}
.pride{
  /* WE PRIDE OURSELF ON */

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: 0.12em;

/* Neutral/N200 */
color: #6B788E;

}
.group3{
  /* pngwing 1 */

background: url(pngwing.png);

}


.customer{
  font-family: 'Proxima Nova';
 font-style: normal;
 font-weight: 700;
 line-height: 120%;
 color: #D95103;
}

.button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 40px;

}
.paragraph{
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;

}
.buff{

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 48px;
gap: 8px;

width: 133px;
height: 56px;

/* Off Color/Off-Black */
border: 2px solid #101828;
border-radius: 100px;

}
.arrowLeft{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;
gap: 8px;

width: 48px;
height: 48px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 100px;


}