.our-menu {
    width: 221px;
    height: 67px;
    font-family: 'Allura', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 67px; /* 120% of 56px is 67.2px, rounded to 67px */
    display: flex;
    align-items: center;
    color: #0C6967;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  

.uikit{
    
display: flex;
list-style-type:none;
text-decoration: none;
color: #0C6967;
font-weight: 600;
}
.title-momos{

font-family: 'Chela One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 120%;
/* identical to box height, or 48px */
display: flex;
align-items: center;

/* Primary/primary-6 */
color: #D95103;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.buffmomonew{
padding: 8px 16px;
gap: 8px;

width: 63px;
height: 33px;

/* Primary/primary-6 */
background: #D95103;
border-radius: 16px 0px;
z-index: 2;


}